*,
*:before
*:after {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  font-style: 15px;
  color: #061e37;
}

.container {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
}
